<div>
  <div class="row label">Kalkulator komfortu termicznego</div>

  <div class="row">
    <div class="column">
      <div class="form-group left-side">
        <label class="values">
          Użyj danych z sensora?
          <input
            class='checkbox'
            type="checkbox"
            [(ngModel)]="selected">
        </label>
      </div>

      <div *ngIf="selected" class="form-group left-side">
        <label for="values">Odczyty z sensorów:</label>
        <select
          (ngModelChange)="valuesChanged($event)"
          [(ngModel)]="selectedMeasurement"
          class="form-control dropdown"
          id="values"
          required>
          <option *ngFor="let item of measurements"
                  [value]="item['temperature']+','+item['humidity']">
            {{item["location"] + ': ' + (item["_time"] | date:'short') +
          ' ' + item['temperature'] + '°C ' + item['humidity'] + '%'}}
          </option>
        </select>
      </div>

      <div *ngIf="!selected" class="form-group left-side">
        <label for="temperature">Temperatura °C:</label>
        <input
          [ngModel]="this.ta"
          (ngModelChange)="taChanged($event)"
          class="form-control input-box"
          id="temperature"
          type="number"
          value="20.0"
          step="0.5"
          required>
      </div>

      <div *ngIf="!selected" class="form-group left-side">
        <label for="humidity">Wilglotność %:</label>
        <input
          [ngModel]="this.rh"
          (ngModelChange)="rhChanged($event)"
          class="form-control input-box"
          id="humidity"
          type="number"
          value="20"
          min="0"
          max="100"
          required>
      </div>

      <div class="form-group left-side">
        <label for="wind">Prędkość wiatru m/s:</label>
        <input
          [ngModel]="this.va"
          (ngModelChange)="vaChanged($event)"
          class="form-control input-box"
          id="wind"
          type="number"
          value="0.0"
          step="0.1"
          min="0.0"
          required>
      </div>

      <div class="form-group left-side">
        <label for="clothing"> Izolacja termiczna ubioru CLO:</label>
        <select
          (ngModelChange)="cloChanged($event)"
          [(ngModel)]="selectedCLO"
          class="form-control dropdown"
          id="clothing"
          required>
          <option *ngFor="let item of clothingInsulation" [value]="item.clo">{{item.description}} </option>
        </select>
      </div>

      <div class="form-group left-side">
        <label for="met">Wartość metabolizmu MET:</label>
        <select
          (ngModelChange)="metChanged($event)"
          [(ngModel)]="selectedMET"
          class="form-control dropdown"
          id="met"
          required>
          <option *ngFor="let item of met" [value]="item.met">{{item.description}} </option>
        </select>
      </div>

      <div class="form-group left-side">
        <button
          (click)="calculatePMVandPPD(this.m,this.ta,this.icl, this.va, this.rh)"
          type="button" class="btn btn-success mr-3" style="width: 100%!important;">Oblicz komfort termiczny
        </button>
      </div>
    </div>


    <div class="column">
      <div class="form-group right-side">
        PMV: {{this.pmv}}
        <br>
        PPD: {{this.ppd}}
      </div>
      <div class="text">
        PMV to wskaźnik, którego celem jest przewidywanie odczuć cieplnych grupy osób.
        Równowaga termiczna jest osiągana, gdy wewnętrzna produkcja ciepła przez osobę przebywającą w pomieszczeniu jest taka sama jak jego utrata.
        Na bilans cieplny osoby może wpływać poziom aktywności fizycznej, izolacja odzieży, jak również parametry środowiska termicznego.
        Wartości dodatnie oznaczają zbyt wysoką temperaturę, wartości blisko 0 komfort termiczny, a wartości ujemne zbyt niską temperaturę.
      </div>
      <div class="text">
        PPD wskaźnik powiązany z PMV określa prognozę odsetka niezadowolonych termicznie osób (tj. osób którym jest za ciepło lecz za zimno).
        Innymi słowy PPD podaje procent osób, co do których przewiduje się, że doświadczą lokalnego dyskomfortu termicznego.
      </div>
    </div>
  </div>
</div>
